@import "tailwindcss";

@theme {
  --color-void-black: #0B0C10;
  --color-gunmetal-grey: #1F2833;
  --color-strike-red: #FF2E63;
  --color-neon-cyan: #08D9D6;
  --color-focus-amber: #F9ED69;

  --font-heading: var(--font-rajdhani);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background-color: var(--color-void-black);
  color: #ffffff;
  font-family: var(--font-mono);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
